<span style="text-align: center">
  <h1>Clinical Trials Api Samples Site</h1>
  <p>
    <em>Stay tuned...</em>
    <br />
    <img src="../assets/trialsapi.png" />
    <br />
    <a href="https://clinicaltrials.gov/api/" target="_blank"
      >https://clinicaltrials.gov/api/
    </a>
  </p>

  <div style="border: 1px solid black">
    <div
      class="container align-items-center d-flex px-0"
      style="min-height: 83vh"
    >
      <div class="row" style="width: 100%">
        <div style="text-align: left; color: cyan">Form:</div>
        <form
          novalidate
          [formGroup]="trialsForm"
          style="width: 100%; border: 1px solid cyan"
        >
          <label for="name">Name: </label>
          <input id="name" type="text" formControlName="name" /><br /><br />

          <label for="location">Location: </label>
          <input
            id="location"
            type="text"
            formControlName="location"
          /><br /><br />

          <label for="age">Age: </label>
          <input id="age" type="text" formControlName="age" /><br /><br />

          <label for="sex">Sex: </label>
          <input id="sex" type="text" formControlName="sex" /><br /><br />
        </form>

        <div style="text-align: left; color: gold">JSON Payload:</div>
        <div style="border: 2px solid gold">
          name: <span>{{ trialsForm.value.name }}</span>
          <br />
          location:<span>{{ trialsForm.value.location }}</span>
          <br />
          age:<span>{{ trialsForm.value.age }}</span>
          <br />
          sex:<span>{{ trialsForm.value.sex }}</span>
        </div>
        <br /><br />
        <div style="text-align: left; color: red">GET URL:</div>
        <div style="border: 1px solid red">
          https://clinicaltrials.gov/api/query/study_fields?expr=obesity
          +AND+(AREA[Gender]All+OR+AREA[Gender]
          male)+AND+AREA[MinimumAge]RANGE[MIN,
          33+year]+AND+AREA[MaximumAge]RANGE[ 33+year,MAX]+AND+ SEARCH[Location]
          (AREA[LocationCountry]United+States +AND+
          AREA[LocationStatus]Recruiting +AND+ ( AREA[LocationCity]Chicago)
          )&fields=NCTId,Condition,OrgFullName,BriefTitle,BriefSummary,MinimumAge,MaximumAge,LocationZip,
          LocationCity,LocationCountry,Gender,GenderDescription,GenderBased,HealthyVolunteers,CentralContactName,CentralContactEMail,
          CentralContactPhone,CentralContactPhoneExt,CentralContactRole,EligibilityCriteria&min_rnk=1&max_rnk=1000&fmt=json
        </div>
        <div style="text-align: left; color: green">Trials Return:</div>
        <div style="border: 1px solid green">
          {{ trials }}
        </div>
      </div>
    </div>
  </div>
</span>
