/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


* {

  color: silver
}
textarea:focus, input:focus {
  color: #000;
}

input, select, textarea{
  color: #000;
}
